/*******************************************************************************
 Add your custom css styles here
 *******************************************************************************/

 .text-logo{
 	float: left;
 	font-size: 25px;
 	font-weight: bold;
 }
 .logo-holder{
 	top: 0;
 }